<div id="list" *ngIf="displayTodoList">
  <p-table [columns]="cols" [value]="todos" sortField="status" sortMode="single" [paginator]="true" [rows]="10"
    [globalFilterFields]="['status','desc']" dataKey="name" editMode="row">
    <ng-template pTemplate="caption">
      List of Todo Tasks
      <p-button class="btnAdd" label="ADD" (onClick)="addTodo()"></p-button>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-todo let-editing="editing" let-ri="rowIndex">

      <tr [pEditableRow]="todo">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="todo.name">
            </ng-template>
            <ng-template pTemplate="output">
              {{todo.name}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="todo.desc">
            </ng-template>
            <ng-template pTemplate="output">
              {{todo.desc}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="statusValues" [(ngModel)]="todo.status" [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{todo.status}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align:center">
          <p-button class="btnAdd" icon="pi pi-trash" class="ui-button-info" (onClick)="deleteTodo(todo.id)"></p-button>
          &nbsp;&nbsp;&nbsp;
          <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info"
            (click)="onRowEditInit(todo)"></button>
          <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success"
            style="margin-right: .5em" (click)="onRowEditSave(todo)"></button>
          <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger"
            (click)="onRowEditCancel(todo, ri)"></button>

        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      There are {{todos?.length}} todo tasks
    </ng-template>

  </p-table>
</div>
<todo-add *ngIf="displayTodoAdd" (valueChange)='hideTodoAdd($event)'></todo-add>
<!-- <router-outlet></router-outlet> -->